a {
  text-decoration: none;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #0068A3;
}

h2 {
  font-size: 42px;
}

#title-name {
  font-size: 28px;
  background-color: white;
}

@media (max-width: 1268px) {

  #title-name {
    font-size: 25px;
  }

}

@media (max-width: 1034px) {

  #title-name {
    font-size: 21px;
  }

}

#title-motto {
  font-size: 80px;
  background-color: white;
}

@media (max-width: 1268px) {

  #title-motto {
    font-size: 68px;
  }

}

@media (max-width: 1034px) {

  #title-motto {
    font-size: 56px;
  }

}

#title-logo {
  height: 360px;
  width: 360px;
}

@media (max-width: 1268px) {

  #title-logo {
    height: 250px;
    width: 250px;
  }

}

@media (max-width: 912px) {

  #title-logo {
    width: 50%;
    height: 50%;
    padding-top: 50px;
  }

}

@media (max-width: 342px) {

  #title-logo {
    width: 250px;
    height: 250px;
    padding-top: 50px;
  }

}

#title {

}

@media (max-width: 912px) {

  #title {
    margin-top: 150px;
  }

}

@media (max-width: 342px) {

  #title {
    margin-top: 250px;
  }

}

section {
  padding-bottom: 90px;
  max-width: 2200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px - 90px);
  padding-right: 200px;
  display: flex;
  padding-left: 200px;
  padding-top: 90px;
}

@media (max-width: 776px) {

  section {
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media (max-width: 474px) {

  section {
    padding-left: 10px;
    padding-right: 10px;
  }

}

p, div, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

.menu-item:hover {
  color: white;
}

section:nth-child(2n) {
  background-color: #80ACD118;
}

#get-in-touch-link {
  color: #80ACD1;
}

#get-in-touch-link:hover {
  color: #0068A3;
  background-color: #80ACD1;
}