a {
  text-decoration: none;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #0068A3;
}

h2 {
  font-size: 42px;
}

p, div, li {
  font-family: 'Montserrat', sans-serif;
}

#landing-screen #landing-screen-sub-title {
  font-size: 80px;
}

.menu-item {
  margin: 15px;
}

.menu-item:hover {
  color: white;
}

#collapsible-title {

}

div#cover-image {

}

section:nth-child(2n) {
  background-color: #80ACD118;
}