a {
  text-decoration: none;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #0068A3;
}

h2 {
  font-size: 42px;
}

p, div, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

.menu-item:hover {
  color: white;
}

section {
  padding-bottom: 90px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: calc(100vh - 90px - 90px);
  padding-right: 200px;
  display: flex;
  padding-left: 200px;
  padding-top: 90px;
}

section:nth-child(2n) {
  background-color: #80ACD118;
}

#get-in-touch-link {
  color: #80ACD1;
}

#get-in-touch-link:hover {
  color: #0068A3;
  background-color: #80ACD1;
}

@media (max-width: 1440px) {

  background-color: green;

}

@media (max-width: 1440px) {

  background-color: lime;

}